<div class="row">
	<div class="col-md-12">
		<h2>View Widget</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div>
			<label>Name:</label>{{widget.name}}
		</div>
		<div>
			<label>Description:</label>{{widget.description}}
		</div>
		<div>
			<label>Color:</label>{{widget.color}}
		</div>
		<div>
			<label>Size:</label>{{widget.size}}
		</div>
		<div>
			<label>Quantity:</label>{{widget.quantity}}
		</div>
		<button ng-click="returnToWidgetList()" class="btn btn-primary">Return to List</button>
	</div>
</div>
